.history {
  &__container {
    min-height: 100vh;
  }
  &__header {
    min-width: 100%;
  }
  &__people {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
  }
  &__content {
    @include ubuntu-bold();
    font-size: 10px;
    padding-top: 20px;
    margin-bottom: 70px;
    line-height: 1.8;

    p{
      letter-spacing: 0.8px;
      word-spacing: 5px;
    }

    img {
      display: block;
      margin: auto;
      margin: 20px 0;
    }
  }
}
